<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="online note pad">
        <meta name="author" content="siddartha boddu">
    
        <title>Message</title>
    
      <!-- jQuery library -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/header.css">
    
    </head>

    
  <body style="width:100%;    background-color: #F6F8FA;" >

          <%- include('./../partials/header',{user: current_user}) %>

    <div class="" style="width:100%;font-size:14px;margin-top:40px" >
      <div class="row" style="width:100%;margin-left:0px;">

        <div id="userprofile" class="" style="width:60%;margin:0 auto;background-color:white;border: 1px solid #e1e4e8;padding:15px 0px 15px 0px;margin-bottom:20px">    
          <div class="image-cropper" style="margin:0 auto">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj5GtJ1ndkXb1l4QSGefsh4DRrW7VHFNNBZI6wqXrU8kDmJxex" class="rounded" />
          </div>
          <br>
          <div class="text-bold" style="text-align: center;margin:0 auto">
            <h1><%= user.username %></h1>
          </div>
          <div style="text-align: center;font-weight: 400;padding-bottom:5px;margin:0 auto">
            <div><%= user.email %></div>
          </div>        
          <div id="status" style="border-bottom:1px solid #e1e4e8!important;padding:0% 5% 15px 5%;margin:0 auto;width:95%">
            <div><%= user.status %></div>
          </div>
          <div id="posts_friends_count" class="row"  style="margin-top:15px">
            <div id="posts_count" style="width:30%;margin-left:20%;text-align: center">
              <h4><%= posts.length %></h4> 
            </div>
            <div id="friends_count" style="width:30%;text-align: center">
              <h4><%= friends_row.length %></h4> 
            </div>
          </div>
          <div id="posts_friends_count" class="row">
            <div id="posts_count" style="width:30%;margin-left:20%;text-align: center;">
              <h4>Posts</h4>
            </div>
            <div id="friends_count" style="width:30%;text-align: center">
              <h4>Friends</h4>
            </div>
          </div>
          <div id="friend_related" >
            <!-- <% if(is_friend){ %>
              <button style="width:100%;margin-top:15px" class="btn btn-danger" >UnFriend</button>
            <% }else{ %>
            <% if(current_user.username != user.username){ %> 
              <button style="width:100%;margin-top:15px" class="btn btn-success" >Send Friend Request</button>
            <% }} %> -->
          </div>
        </div>
        <div id="userPostsList" style="width:100%">

        </div>
      </div>
    </div>
    
    

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/user_profile.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <style>
      .leftpane {
        height: 100%;
        /* background-color: green; */
        background-color: #FFFFFF;
        padding-top:15px;
        
      }

      .middlepane {
        height: 100%;

          /* background-color: blue; */
        background-color: #F6F8FA;
        padding-top:15px;

      }

      .rightpane {
        height: 100%;

        /* background-color: black; */
        background-color: #F6F8FA;
        padding-top:15px;

      }
    </style>
  </body>
</html>
